/*HEADER*/

#navbartrans{
  background:rgba(33,33,33,1);
  background:linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background:-webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background:-moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}

#brushheader{
  background-image: url("http://i.imgur.com/ofL3GvE.png");
  background-repeat: no-repeat;
  height: 281px;
  width: 508px;
  position: absolute;
  right: 0;
  top:12%;
  background-size: cover;
}

#compactheader{

  background-image: url("https://files.slack.com/files-pri/T0351JZQ0-F0600GHHA/compact_logo.png");
  width: 510px;
  height: 130px;
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - 255px);
  top: 190px;
}
 #wrapper{
  height: 320px;
 }

img {
  margin-top:-230px;
  margin-left:290px;
}


/*BODY*/
body {
  width:100%;
  background-color: #F2F1ED;
  background-image: url("http://www.berjeinc.com/images/background_cosmetics.jpg");
  background-repeat: no-repeat;
}

#new-product{
  clear:both;
}

#aboutapp{

  margin-left:15%;
  margin-bottom:50px;
  font-family:arial;
  color:black;
  margin-top:2%;
  width:80%;
}

#aboutapp h4{
  font-weight:bold;
  margin-left:23%;
  word-spacing:5px;
  height:200px;
  line-height:200%;
}



#new-product{
  display:none;
}

#new-user{
  display:none;
}



/*LOGIN*/
#login{
 display:none;
 font-size:16px;
 margin-left:35%;
 margin-top:-10%;
}

.user{
  border-radius:50px;
  padding:10px;
}

#login-user-email{
  margin-left:4%;
}

#login-user-pw{
  margin-left:1%;
}

#login-button{
  margin-top:25px;
  margin-left:15%;
  border-radius:10px;
}

/*NEW USER*/
#new-user{
  margin-left:35%;
  margin-top:-10%;
  font-size:16px;
}

.content input{
  margin-left:50px;
}

#name{
  margin-left:4%;
}

#email{
  margin-left:4.3%;
}

#pw{
  margin-left:1.8%;
}

#cpw{
  margin-left:.03%;
}

#new-user-button{
  margin-top:25px;
  margin-left:13%;
  border-radius:10px;
}

/*WELCOME MESSAGE*/
#userDiv{
  margin-left:40%;
  font-size:30px;
}

/*ADD COSMETIC ITEM*/
#new-product{
  margin-left:35%;
  margin-top:2%;
  font-size:16px;
}

#new-prod-button{
  margin-top:25px;
  margin-left:10%;
  border-radius:10px;
}

#prodname{
  margin-left:5px;
}

#prodbrand{
  margin-left:5px;
}

#prodcolor{
  margin-left:12px;
}

#prodprice{
  margin-left:14px;
}

#proddate{
  margin-left:11px;
}

#prodcat{
  margin-left:12%;
}

.select{
  width:10%;
}

#prodimage{
  margin-left:5px;
}

.content h3{
  margin-left:7%;
}


/*VIEW PRODUCTS*/
#cosbag{
  margin-left:42%;
}

#cosmetic_products{
  margin-left: 24%;
  float:left;
  font-weight:bold;
  font-size:16px;
}

ul{
  list-style-type: none;
}

/*VIEW SINGLE PRODUCT*/
#cosmetic_product{
  float:left;
  margin-left:50px;
}
