
body{
  background-color: #D41449;
  background-image: url("http://www.wpclipart.com/page_frames/more_frames/outdoor_scenes/star_pattern_background_1_T.png");
  background-size: cover;
  padding-right:0;
  margin-right: 0;
  color: white;
}

/*HEADER*/
#hero{
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/bc/7f/d6/bc7fd6b1aba2069596e01f91b9b68521.jpg");
  background-size:100%;
  overflow:hidden;
  min-height:200px;
  background-position: bottom;
  text-align:center;
  padding-top: 75px;
}

#hero h1{
  font-size:60px;
  letter-spacing: 3px;
  margin-top:9px;
}

#compactheader{
  color: #D41449;
  font-family: 'Poiret One', cursive;
  font-size:36px !important;
}
/*END HEADER*/


/*NAVBAR*/
.navbar{
  background-color:black;
  font-family: 'Poiret One', cursive;
  height:40px;
  font-size: 16px;
}
/*END NAVBAR*/


/*CONTENT- three photos*/
.photo-grid {
  margin: 1em auto;
  max-width: 1106px;
  text-align: center;
  margin-top:92px;
}

.photo-grid li {
  border: 5px solid white;
  display: inline-block;
  margin: 1em;
  border-radius: 10px;
  height:320px;
  width:320px;
  background-color:white;
}

.photo-grid img {
  display: block;
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  max-width: 100%;
  text-align:center;
  margin:0 auto;
}

.photo-grid figure {
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 300px;
  border-radius: 10px;
  text-align:center;
  margin:0 auto;
}

.photo-grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  font-family: 'Poiret One', cursive;
}

.photo-grid figcaption p {
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
  width: 300px;
  vertical-align: middle;
}

.photo-grid li:hover figcaption {
  opacity: 1;
}

.photo-grid li:hover img {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}
/*END CONTENT*/



a{
  color: white;
}



#aboutapp{
  display:none;

}

#aboutimg{
  text-align:center;
  margin-top: -20px;
}

#aboutwords{
  float:right;
  margin-top: 170px;
  margin-right: 200px;
  padding: 0;
  font-family: 'Poiret One', cursive;
}

#aboutwords h4{
  line-height:30px;
  font-size:21px;
}

#new-product{
  clear:both;
}

#new-product{
  display:none;
}




/*NEW USER*/
#new-user{

  display:none;
  font-size:16px;
  height: 100%;
  background-color: rgba(95, 93, 93, 0.5);
  color: black;
  font-family: 'Poiret One', cursive;
}

#new-user h2{
  font-family: 'Poiret One', cursive;
  font-size:2em;
  color: white;
}

.content input{
  width:100%;
  margin-top:10px;
  margin-bottom: 10px;
  padding:6px;
  font-family: 'Poiret One', cursive;
}

 #new-user .new{
  color: #FF8ACC;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}


#new-user-button{
  margin-top:25px;
  background-color:white;
  cursor: pointer;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  background-color: #FF8ACC;
  border-color: #D41449;
  color:white;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
/*END NEW USER*/


/*LOGIN*/
#login{
  display:none;
  font-size:16px;
  height: 100%;
  background-color:rgba(95, 93, 93, 0.5);
  color: black;
}

#login h2{
  font-family: 'Poiret One', cursive;
  font-size:2em;
  color: white;
}

#login .log{
  color: #FF8ACC;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}

#login-button{
  margin-top:25px;
  background-color:white;
  cursor: pointer;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  background-color: #FF8ACC;
  border-color: #D41449;
  color:white;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
/*END LOGIN*/


/*WELCOME MSG*/
#userDiv{
  margin-left:43%;
  font-size:30px;
}
/*END WELCOME MSG*/


/*ADD COSMETIC ITEM*/
#new-product{
  padding-bottom: 15px;
  font-size:16px;
  background-color:rgba(95, 93, 93, 0.5);
  color: black;
}

#new-prod-button{
  margin-top:25px;
  background-color:white;
  cursor: pointer;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  background-color: #FF8ACC;
  border-color: #D41449;
  color:white;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

#new-product h2{
  font-family: 'Poiret One', cursive;
  font-size:2em;
  color: white;
}


.prod{
  color: #FF8ACC;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}

#new-product input{
  font-family: 'Poiret One', cursive;
  padding-left: 15px;
}


#prodcat{
  margin-left:12%;
}

.select{
  width:10%;
}

#prodimage{
  margin-left:5px;
}
/*END COSMETIC ITEM*/


/*VIEW ALL PRODUCTS*/
#cosmetic_products{
  margin-left: 230px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 25px;
  word-spacing: 2px;
  width: 460px;
  height: 400px;
  font-size:20px;
  height: 424px;
  background-color:rgba(95, 93, 93, 0.5);
  color: #FF8ACC;
  font-family: 'Poiret One', cursive;
  float:left;
}

#cosmetic_products h2{
  color: white;
}

ul{
  list-style-type: none;
}
/*END VIEW ALL PRODUCTS*/


/*VIEW SINGLE PRODUCT*/
#cosmetic_product{
  background-color: rgba(95, 93, 93, 0.5);
  font-size:14px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: #FF8ACC;
  float: right;
  display: none;
  width: 460px;
  margin-right:186px;
}

.hideproduct img{
  height: 120px;
  width:120px;
}
/*END VIEW SINGLE PRODUCT*/
